
{% extends 'base.html' %}

{% block title %}Main Menu{% endblock %}

{% block content %}
<div style="width=100%">
<h1 class="centertext">Player: {{data.active_player.name}}</h1>
    <h3 class="centertext">Score: {{data.active_player.score}}</h3>
</div>
<!--DRAW PLAYER'S BOARD-->
<div style="overflow: auto;">
<table style="float:left;">
    <tr><td colspan="11" style="border-style: none; text-align:center;">your ships are located on this board</td></tr>
  <tr>
    {% for column in ['','a','b','c','d','e','f','g','h','i','j'] %}
          <td class="cell-header">{{column|upper}}</td>
      {% endfor %}
  </tr>
  {% for row in range(1, 11) %}
    <tr>
          <td class="cell-header">{{row}}</td>
      {% for column in ['a','b','c','d','e','f','g','h','i','j'] %}
          <td id = y{{column}}{{row}} class="cell"></td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>


<table style="float:right;">
    <tr><td colspan="11" style="border-style: none; text-align:center;">your opponents ships are located on this board</td></tr>
  <tr>
    {% for column in ['','a','b','c','d','e','f','g','h','i','j'] %}
          <td class="cell-header"> {{column|upper}}</td>
      {% endfor %}
  </tr>
  {% for row in range(1, 11) %}
    <tr>
          <td id class="cell-header">{{row}}</td>
      {% for column in ['a','b','c','d','e','f','g','h','i','j'] %}
          <td id = o{{column}}{{row}} class="cell"></td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
</div>


 <script type=text/javascript src="{{
  url_for('static', filename='js/board.js') }}"></script>



<!--Draw misses-->
<div>


<!--  Plyaer Misses-->
  {% for coordinates in data.passive_player.recieve %}
    <script type="text/javascript">
    var t = {{coordinates.__dict__|tojson}};
    draw_player_misses(t);
    </script>
  {% endfor %}


<!--Oppenent Missess-->
  {% for coordinates in data.active_player.recieve %}
      <script type="text/javascript">
    var t = {{coordinates.__dict__|tojson}};
    draw_opponent_misses(t);
    </script>
  {% endfor %}




<!--Draw ships actual player's ships-->
<div>
{% for ship in data.active_player.ships %}
  {%for coordinates in ship.set_of_coordinates%}
    <script type="text/javascript">
    var t = {{coordinates.__dict__|tojson}};
    draw_ship(t);
    </script>
  {% endfor %}
{% endfor %}


<!--  Draw actual player's taken damages-->
  {% for ship in data.active_player.ships %}
  {%for s_coordinates in ship.set_of_coordinates%}
    {% for h_coordinates in data.active_player.recieve %}
    {%- if h_coordinates.match(s_coordinates)-%}
         <script type="text/javascript">
          var t = {{s_coordinates.__dict__|tojson}};
          draw_hit_to_player_ships(t);
          </script>
    {%- endif -%}
    {% endfor %}
  {% endfor %}
{% endfor %}

<!--  Draw oppoenet's taken damages-->
    {% for ship in data.passive_player.ships %}
  {%for s_coordinates in ship.set_of_coordinates%}
    {% for h_coordinates in data.passive_player.recieve %}
    {%- if h_coordinates.match(s_coordinates)-%}
         <script type="text/javascript">
          var t = {{s_coordinates.__dict__|tojson}};
          draw_hit_to_opponent_ships(t);
          </script>
    {%- endif -%}
    {% endfor %}
  {% endfor %}
{% endfor %}

</div>
{% endblock %}