
{% extends 'base.html' %}

{% block title %}Main Menu{% endblock %}

{% block content %}

<div style="background-color:ligthblue;" id="staus-block" class="status">


    <h1 class="centred textcenter"><label id="result">NEW GAME STARTS</label></h1>
</div>

<div class="centred">
<h3>NEXT PLAYER:</h3><h1> {{data.active_player.name}}</h1><h3>SCORE: </h3> <h1>{{data.active_player.score}}</h1>

<button class="next-button" onclick="location.href = '/board'">I am ready !</button>
</div>

<div class="spacer"></div>




{% endblock %}
