
{% extends 'base.html' %}

{% block title %}Main Menu{% endblock %}

{% block content %}
<div class="spacer"></div>
<div class="spacer"></div>

<div class="grid-container">
    <div class="grid-item">

    </div>
    <div class="grid-item">
<div class="grid-container">
    <div class="grid-item">
        <button class="next-button" onclick="location.href = '/setup'">START NEW GAME</button>
    </div>

    <div class="grid-item">
        <div class="centred">
        <button class="hs-button " onclick="location.href = '/high_scores'"> HIGH SCORES</button>
        </div>
    </div>
    <div class="grid-item">
        <button class="confirm-button" style="float:right" onclick="location.href = '/about'"> ABOUT BATTLESHIPS</button>
    </div>
<div class="spacer"></div>

</div>
    </div>
    <div class="grid-item">

    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>
</div>

{% endblock %}
