
{% extends 'base.html' %}

{% block title %}Main Menu{% endblock %}

{% block content %}
        <script type=text/javascript src="{{
  url_for('static', filename='js/status.js') }}"></script>

<div id="staus-block" class="status">
 <script type="text/javascript">
    bg_color("{{"green" if data.result else "red"}}");
 </script>

    <h1 class="centred textcenter"><label id="result">{{"HIT" if data.result else "MISS"}}</label></h1>
</div>

<div class="centred">
<h3>NEXT PLAYER:</h3><h1> {{data.active_player.name}}</h1><h3>SCORE: </h3> <h1>{{data.active_player.score}}</h1>

    {%- if data.passive_player.has_more_alive_ships() -%}
<button class="next-button" onclick="location.href = '/board'">I am ready !</button>
</div>


{% else %}
    <label><h1>Game Over. Player <i>{{data.active_player.name}}</i> WIN! Total Score: <i>{{data.active_player.score}}</i></h1></label>
    <button class="save-button" onclick="location.href = '/'">Play again !</button>
</div>

    {%- endif -%}
<div class="spacer"></div>


{% endblock %}
