table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
     margin-right: 50px;
    border-style:none;
}

.centertext{
text-align:center;
}

.example{
    margin:20px;
    width:400px;
}

.counter{
    margin:20px;
}

.status{
}

table td{
    height: 30px;
    width: 30px;
    /* border-style:none; */
    /* border-top: 2px solid black; */
    border: 2px solid black;
}

table tr{
    height: 30px;
    width: 30px;
    border-style:none;
}

.cell{
    background-color: lightgray;
    width: 40px;
    height: 40px;
}

.cell-header{
    width: 40px;
    height: 40px;
    border-style: none;
    background-color: white;
    text-align: center; 

}

.for_name{
    font-size: 16pt;
    margin: 20px
}

.spacer{
    height: 50px;
}

.grid-item{

}

.grid-container {
  display: grid;

  grid-template-columns: auto auto auto;
  padding: 10px;
}

.next-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.menu-button{
position: absolute;
top: 20px;
left: 20px;

background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 16px;
}


.hs-button {
background-color: indigo;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 16px;
}

.save-button {
  background-color: skyblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 16px;
}

.inactive-button{
  background-color: lightgray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 16px;
}

.confirm-button {
  background-color: skyblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;

  font-size: 16px;
}



.middleItem {
  margin-top:50px;
}

.fullsize{
    width:100%;
}
.center{
text-align: center;
border: 7px solid red;
width: 300px;
height: 200px;
padding-top: 100px;
}


.centred{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
  }
