
{% extends 'base.html' %}

{% block title %}Main Menu{% endblock %}

{% block content %}
<div class="grid-container">

    <div class="grid-item">
        <div class="centred">Place your ships:</div>
        <table style="float:left;">
  <tr>
    {% for column in ['','a','b','c','d','e','f','g','h','i','j'] %}
          <td class="cell-header">{{column|upper}}</td>
      {% endfor %}
  </tr>
  {% for row in range(1, 11) %}
    <tr>
          <td class="cell-header">{{row}}</td>
      {% for column in ['a','b','c','d','e','f','g','h','i','j'] %}
          <td id = y{{column}}{{row}} class="cell"></td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
    </div>
    <div class="grid-item middleItem">
        <p><input type="checkbox" name="check" id="t4"> Carrier</p>
<p><input type="checkbox" name="check" id="t3"> Battleship</p>
<p><input type="checkbox" name="check" id="t2"> Destroyer</p>
<p><input type="checkbox" name="check" id="t1"> Submarine</p>

<button class="inactive-button" id="confirmShipBtn" onclick="add_ship(setup.current_ship)" disabled>Confirm</button>


    </div>

    <div class="grid-item">
        <div class="spacer"></div>
        <p><label class="for_name">Player {{data.player}} State your name</label></p>
        <input class="for_name" type="text" id="name">
        <div class="spacer"></div>

        <button class="save-button" id="confirmSetupBtn" onclick="save_setup({{data.player}}, setup)">Save</button>
        <!--FIXME-->
{% if data.player=='1'%}
<button class="inactive-button" name='next' onclick="location.href = '/setup_player/2'" disabled>NEXT</button>
{%endif%}
{% if data.player=='2'%}
<button  class="inactive-button" name='next' onclick="location.href = '/game'" disabled>NEXT</button>
{%endif%}


    </div>

</div>
        <script type=text/javascript src="{{
  url_for('static', filename='js/setup_player_model.js') }}"></script>

        <script type=text/javascript src="{{
  url_for('static', filename='js/setup_player.js') }}"></script>

<div class="centred">

<!--<button id="confirmBtn" onclick="set_name({{data.player}})">SET NAME</button>-->
</div>
<div class="spacer"></div>


<div class = "centred" style="overflow: auto;">



</div>




{% endblock %}
